<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-dFg5O0...etc" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proyecto KN</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div id="main-wrapper" data-sidebartype="mini-sidebar">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <div class="navbar-brand">
                        <a href="@Url.Action("dashboard", "Home") class="logo">
                            <b class="logo-icon">
                                <img src="~/Imagenes/logo.png" />
                            </b>
                            <span class="logo-text">

                                CASA<span class="highlight LogoText">NATURA</span>
                            </span>
                        </a>
                        <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-toggle-switch mdi-toggle-switch-off font-20"></i>
                        </a>
                    </div>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>


                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto"></ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="m-l-5 font-medium d-none d-sm-inline-block">
                                    HOLA,
                                    @Session["Nombre"]

                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="menu-title">
                            <a aria-expanded="false">
                                <i class="fas fa-bars"></i><span class="hide-menu">
                                    Menú
                                    Principal
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect" href="index.html"
                               aria-expanded="false">
                                <i class="fas fa-tachometer-alt"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="index.html" aria-expanded="false">
                                <i class="fas fa-paw"></i><span class="hide-menu">Gestión de Animales</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("AdminDonaciones", "Donacion")" aria-expanded="false">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span class="hide-menu">Gestión de Donaciones</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="index.html" aria-expanded="false">
                                <i class="fas fa-user"></i><span class="hide-menu">Gestión de Usuarios</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="index.html" aria-expanded="false">
                                <i class="fas fa-heart"></i><span class="hide-menu">Gestión de<br> Apadrinamientos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("GestionActividades", "Actividades")" aria-expanded="false">
                                <i class="fas fa-route"></i><span class="hide-menu">Gestión de Actividades</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("GestionDudas", "Contacto")" aria-expanded="false">
                                <i class="fas fa-envelope"></i><span class="hide-menu">Gestión de Dudas</span>
                            </a>
                        </li>
                        <li class="menu-title">
                            <a aria-expanded="false">
                                <i class="fas fa-sliders-h"></i><span class="hide-menu">General</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="index.html" aria-expanded="false">
                                <i class="fas fa-cog"></i><span class="hide-menu">Ajustes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("CerrarSesion", "Home")" aria-expanded="false">
                                <i class="fas fa-sign-out-alt"></i><span class="hide-menu">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    @RenderBody()

                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <script src="~/Scripts/app.init.js"></script>
    <script src="~/Scripts/app-style-switcher.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/sparkline.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/sidebarmenu.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap4.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("sidebarToggle");
            const mainWrapper = document.getElementById("main-wrapper");

            if (toggleButton && mainWrapper) {
                toggleButton.addEventListener("click", function () {
                    mainWrapper.classList.toggle("show-sidebar");
                });
            }
        });
    </script>

</body>

</html>
