@model ProyectoFinal.Models.Usuario

@{
    ViewBag.Title = "Registro";
}
<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <div id="register-form" class="bg-light p-4 rounded shadow mx-auto">
                <h2 class="fw-bold text-center mb-4">CREA TU CUENTA</h2>
                @using (Html.BeginForm("Registro", "Home", FormMethod.Post, new { @class = "form-horizontal m-t-20", @id = "formRegistro" }))
                {
                    if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                    {
                        <div class="alert alert-warning text-center">
                            @ViewBag.Mensaje
                        </div>
                    }
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Identificacion, new { @type = "text", @class = "form-control form-control-lg InputLogin", @placeholder = "Identificación", @id = "cedula" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Nombre, new { @type = "text", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "Nombre", @id = "nombre"})
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Apellido1, new { @type = "text", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "Primer Apellido", @id = "apellido1" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Apellido2, new { @type = "text", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "Segundo Apellido", @id = "apellido2" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Correo, new { @type = "email", @class = "form-control form-control-lg InputLogin", @placeholder = "Correo Electrónico", @id = "correo" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Contrasenna, new { @type = "password", @class = "form-control form-control-lg InputLogin contrasenna", @placeholder = "Contraseña", @id = "contrasenna" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Contrasenna, new { @type = "password", @class = "form-control form-control-lg InputLogin confirmarContrasenna", @placeholder = "Confirmar Contraseña", @id = "confirmarContrasenna" })
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning fw-bold text-dark">REGISTRARSE</button>
                    </div>
                }
                <div class="mt-3 text-center">
                    @Html.ActionLink("¿Ya tienes cuenta? Inicia sesión aquí", "IniciarSesion", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>
</main>


<script src="~/Scripts/Autenticacion.js"></script>

