@model ProyectoFinal.Models.Actividad

@{
    ViewBag.Title = "Gestión Actividades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <div id="register-form" class="bg-light p-4 rounded shadow mx-auto">
                <h2 class="fw-bold text-center mb-4"><b>CREAR NUEVA ACTIVIDAD</b></h2>
                @using (Html.BeginForm("GestionActividades", "Actividades", FormMethod.Post, new { @class = "form-horizontal m-t-20", @id = "formRegistro" }))
                {
                    if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                    {
                        <div class="alert alert-warning text-center">
                            @ViewBag.Mensaje
                        </div>
                    }
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Nombre, new { @type = "text", @class = "form-control form-control-lg InputLogin", @placeholder = "Nombre de la Actividad", @id = "NombreActividad" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Descripcion, new { @type = "text", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "Descripcion", @id = "Descripcion", @readonly = "readonly" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Fecha, new { @type = "date", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "F", @id = "apellido1" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.PrecioBoleto, new { @type = "number", @class = "form-control form-control-lg InputLogin SoloVista", @placeholder = "Segundo Apellido", @id = "apellido2" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.TicketsDisponibles, new { @type = "number", @class = "form-control form-control-lg InputLogin", @placeholder = "Correo Electrónico", @id = "correo" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Tipo, new { @type = "text", @class = "form-control form-control-lg InputLogin", @placeholder = "Contraseña", @id = "contrasenna" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Imagen, new { @type = "password", @class = "form-control form-control-lg InputLogin", @placeholder = "Confirmar Contraseña", @id = "confirmarContrasenna" })
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning fw-bold text-dark">REGISTRARSE</button>
                    </div>
                }
                <div class="mt-3 text-center">
                    @Html.ActionLink("¿Ya tienes cuenta? Inicia sesión aquí", "IniciarSesion", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>


     @if (TempData["SwalError"] != null)
 {
     <text>
         Swal.fire({
             icon: 'error',
             title: 'Error',
              text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["SwalError"].ToString()))'
         });
     </text>
 }

 @if (TempData["SwalSuccess"] != null)
 {
     <text>
         Swal.fire({
             icon: 'success',
             title: 'Éxito',
             text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["SwalSuccess"].ToString()))'
         });
     </text>
 }
</script>

